.profile {
  margin: 0 auto 51px;
  color: white;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    text-align: center;
    margin-bottom: 36px;
  }
}

